// Tabula rasa
@import "../../bower_components/tink-core/dist/tink/variables";
@import "../../bower_components/tink-core/dist/tink/functions";
@import "../../bower_components/tink-core/dist/tink/mixins";

table.collapsable-table {
  > tbody {

    + tbody {
      border-top: 1px solid $table-border-color;
    }

    > tr > td {
      &.no-border {
        border-top: none;
      }
    }
  }

  .link-details {
    display: inline-block;
    margin-top: rem(8);
  }

  .advice {
    transform: scale(1.25);
    transform-origin: 0 center;
  }
}
